# コーディングをする前におこなったこと

①　Europa Year Book の写真を撮る。

②　Office　Lensで Word形式にする。

③　WordからWebノート形式に直す。

④　③で直したWebノートをExcelで開く。

⑤　先頭に行を追加し、Receiverの国名を入力する。行が国ごとに分かれていることを確認し、:のところは;にする。
　　

↑この⑤の作業は省略できないか検討中です

⑥　できたExcelをAzure NotebooksのLibrariesにアップロードする(CCODE_PYTHON.xlsx)。

⑦　ccode-kurizaki.xlsxを Librariesにアップロードする。

⑧　New Coding Instruction for Diplomatic Representation Dataに従い、

　　ランクをエクセルに記入してAzure NotebooksのLibrariesにアップロードする(SenderRank.xlsx)。

In [1]:
#コーディングで使うモジュールをインポートしていきます
# pandasのインポート
import pandas as pd
# numptyのインポート
import numpy as np
# 時間操作用ライブラリ
from time import sleep
#日本語を含むコメントがはじかれないように
#coding: utf-8

最初に、ccode-kurizaki.xlsxに関して処理していきます

In [2]:
#ccode-kurizaki.xlsxをinput_file_nameという名前のファイルにして操作しやすくします
input_file_name = 'ccode-kurizaki.xlsx'

#このファイルをinput_bookとして開きます
input_book = pd.ExcelFile(input_file_name) 

#sheet_namesメソッドでExcelブック内の各シートの名前をリストで取得します
input_sheet_name = input_book.sheet_names

#取得したリストをinput_sheet_dfという名前のデータフレームにして見やすくします
#input_sheet_name[0]は一枚目のシートを開くということです(二枚目のシートならinput_sheet_name[1]です)
#国番号(CCode)と国名(StateName)の列のみ取得するために、ccode-kurizaki.xlsxのB列からC列まで取得します
input_sheet_df = input_book.parse(input_sheet_name[0], 
                                  parse_cols 
                                  = "B:C",
                                  )
#できたinput_sheet_dfの中身を見てみます
input_sheet_df = input_sheet_df[['StateName','CCode']]
input_sheet_df

                                             StateName   CCode
0                             United States of America     2.0
1                                               Canada    20.0
2                                              Bahamas    31.0
3                                                 Cuba    40.0
4                                                 Cuba    40.0
5                                                Haiti    41.0
6                                                Haiti    41.0
7                                   Dominican Republic    42.0
8                                   Dominican Republic    42.0
9                                              Jamaica    51.0
10                                 Trinidad and Tobago    52.0
11                                            Barbados    53.0
12                                            Dominica    54.0
13                                             Grenada    55.0
14                                           St. Lucia    56.0
15                      St. Vincent and the Grenadines    57.0
16                                   Antigua & Barbuda    58.0
17                                 St. Kitts and Nevis    60.0
18                         Saint Christopher and Nevis    60.0
19                                              Mexico    70.0
20                                              Belize    80.0
21                                           Guatemala    90.0
22                                            Honduras    91.0
23                                         El Salvador    92.0
24                                           Nicaragua    93.0
25                                          Costa Rica    94.0
26                                              Panama    95.0
27                                            Colombia   100.0
28                                           Venezuela   101.0
29                                              Guyana   110.0
..                                                 ...     ...
242                                           Malaysia   820.0
243                                          Singapore   830.0
244                                             Brunei   835.0
245                                        Philippines   840.0
246                                          Indonesia   850.0
247                                         East Timor   860.0
248                                          Australia   900.0
249                                   Papua New Guinea   910.0
250                                        New Zealand   920.0
251                                            Vanuatu   935.0
252                           New Hebrides Condominium   935.0
253                                    Solomon Islands   940.0
254                                           Kiribati   946.0
255                                             Tuvalu   947.0
256                                               Fiji   950.0
257                                              Tonga   955.0
258                                              Nauru   970.0
259                                   Marshall Islands   983.0
260                                              Palau   986.0
261                     Federated States of Micronesia   987.0
262                                         Micronesia   987.0
263                                              Samoa   990.0
264                                      Western Samoa   990.0
265                                    Muscat and Oman  4000.0
266                       Rhodesia (Southern Rhodesia)  4000.0
267                                      Channel Isles     NaN
268                                          Gibraltar     NaN
269                                          Hong Kong     NaN
270  Persian Gulf States  (Bahrain, Qatar, Crucial ...     NaN
271                                        Puerto Rico     NaN

[272 rows x 2 columns]

このままだと後で取得した外交文書にある国名と比較しにくいので、このinput_sheet_dfをSeriesの形式に直します

In [3]:
#まずzipを使い、input_sheet_dfのStateNameにある国名、CCodeにある国番号の順にきれいな辞書型セットを作ります
CountryCode_dic = dict([(i,a) for i, a in zip(input_sheet_df.StateName, input_sheet_df.CCode)])
#CountryCode_dicの中身を見てみます
CountryCode_dic
#この辞書型データをSeriesに直します
CountryCode = pd.Series(CountryCode_dic)
CountryCode

Afghanistan                 700.0
Albania                     339.0
Algeria                     615.0
Andorra                     232.0
Angola                      540.0
Antigua & Barbuda            58.0
Argentina                   160.0
Armenia                     371.0
Australia                   900.0
Austria                     305.0
Austria-Hungary             300.0
Azerbaijan                  373.0
Baden                       267.0
Bahamas                      31.0
Bahrain                     692.0
Bangladesh                  771.0
Barbados                     53.0
Bavaria                     245.0
Belarus                     370.0
Belgium                     211.0
Belize                       80.0
Benin                       434.0
Bhutan                      760.0
Bolivia                     145.0
Bosnia and Herzegovina      346.0
Botswana                    571.0
Brazil                      140.0
Brunei                      835.0
Bulgaria                    355.0
Burkina Faso                439.0
                            ...
Turkmenistan                701.0
Tuscany                     337.0
Tuvalu                      947.0
Two Sicilies                329.0
USSR                        365.0
Uganda                      500.0
Ukraine                     369.0
United Arab Emirates        696.0
United Arab Republic        651.0
United Kingdom              200.0
United States of America      2.0
Upper Volta                 439.0
Uruguay                     165.0
Uzbekistan                  704.0
Vanuatu                     935.0
Vatican                     327.0
Venezuela                   101.0
Viet-Nam, Republic of       817.0
Vietnam                     816.0
Western Samoa               990.0
Wuerttemburg                271.0
Yemen                       679.0
Yemen Arab Republic         678.0
Yemen People's Republic     680.0
Yemen,the                   678.0
Yugoslavia                  345.0
Zaire                       490.0
Zambia                      551.0
Zanzibar                    511.0
Zimbabwe                    552.0
Length: 246, dtype: float64

ここでいったんccode-kurizaki.xlsxに関する準備は終わります

次に、SenderRank.xlsxに関して処理していきます

In [4]:
#以下ccode-kurizaki.xlsxのときと同じ手順です
#今回はファイルの名前をinput_file_name2にします
input_file_name2 = 'SenderRank.xlsx'
 
#input_book2として開きます
input_book2 = pd.ExcelFile(input_file_name2) 
 
#sheet_namesメソッドでExcelブック内の各シートの名前をinput_sheet_name2としてリストで取得します
input_sheet_name2 = input_book2.sheet_names

#dataフレームとしてinput_sheet_name2の一つ目のsheetを読み込みます（input_sheet_name2[0]）
input_sheet_df2 = input_book2.parse(input_sheet_name2[0])
#読み込んだシート名の確認します
print("Sheet name:", input_sheet_name2[0])
#input_sheet_df2の中身を見てみます
input_sheet_df2

Sheet name: Sheet1

                           Rank  Code
0     Not assigned or appointed     0
1                    Ambassador     1
2                        Nuncio     1
3              Apostolic nuncio     1
4              Apostolic Nuncio     1
5                  papal nuncio     1
6                  Papal nuncio     1
7                  Papal Nuncio     1
8                    pro-nuncio     1
9                    Pro nuncio     1
10                   Pro-Nuncio     1
11                   Pro-nuncio     1
12            High commissioner     1
13            High Commissioner     1
14  Secretary of Peoples Bureau     1
15                     Minister     2
16                        Envoy     2
17                  Internuncio     2
18        Chargé d’affaires a.i     3
19       Chargé d’affaires a.i.     3
20       Chargé d'affaires a.i.     3
21         Charge d’aﬀairs a.i.     3
22       Charge d’aﬀairs ad hoc     3
23   Charge d’aﬀairs ad interim     3
24   Chargé d’affaires en titre     3
25              Charge d’aﬀairs     4
26     Charge d’aﬀaires et pied     4
27                       Consul     5
28               Consul General     5
29                          ...     6
30  De facto diplomatic mission     7
31                       Others     8
32           Apostolic delegate     8
33                 commissioner     8
34                 Commissioner     8
35           Unknown or missing     9

SenderRank.xlsxに関する準備は以上です

最後に、CCode_PYTHON.xlsxを取り込んで使いやすいように処理します

In [5]:
#以下ccode-kurizaki.xlsxのときと同じ手順です
#今回はファイルの名前をinput_file_name3にします
input_file_name3 = 'CCODE_PYTHON.xlsx'
 
#input_book3として開きます
input_book3 = pd.ExcelFile(input_file_name3) 
 
#sheet_namesメソッドでExcelブック内の各シートの名前をinput_sheet_name3としてリストで取得します
input_sheet_name3 = input_book3.sheet_names
 
#lenでinput_sheet_name3のシートの総数を確認します
num_sheet = len(input_sheet_name3)
 
#input_sheet_name3のシートの数とシートの名前のリストの表示
print ("Sheet の数:", num_sheet)
print (input_sheet_name3)

Sheet の数: 1
['Kazakhstan']

In [6]:
#dataフレームとしてinput_sheet_name3の一つ目のsheetを読み込みます（input_sheet_name3[0]）
input_sheet_df3 = input_book3.parse(input_sheet_name3[0])
#読み込んだシート名の確認します
print("Sheet name:", input_sheet_name3[0])
#できたデータフレームを確認します
input_sheet_df3

Sheet name: Kazakhstan

,Kazakhstan,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"Afghanistan; Almaty, Shalyapina 56, Hotel Molo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Armenia; 480075 Almaty, pr. Seifullina 579, 7t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Australia; 480004 Almaty, Kazybek bi 20A; tel....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Bulgaria; Almaty, Makataeva 13A; tel. (3272) 3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Canada; 480100 Almaty, Karasai Batyr 34; tel. ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"China, People's Republic; Almaty, Furmanova 13...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Croatia; Almaty, Furmanova 110; tel. (3272) 62...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Cuba; Almaty, Zenkova 70, kv. 23; tel. and fax...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Czech Republic; Almaty, pr. Zhibek zholy 64; t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Egypt; 480100 Almaty, Zenkova 59; tel. (3272) ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"France; 480110 Almaty, Furmanova 173; tel. (32...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Georgia; Almaty, Poletayeva 53; tel. (3272) 31...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Germany; 480064 Almaty, Furmanova 173; tel. (3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Holy See; 480091 Almaty, Kabanbav Batyr 77, kV...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Hungary; Almaty, Tulebayeva 162, kV. 29; tel. ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"India; Almaty, Internatsionalnaya 71; tel. (32...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Iran; Almaty, Kabanbai Batyr 119; tel. (3272) ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Israel; Almaty, Zheltoksan 87; tel. (3272) 50-...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Italy; Almaty, Kazybek bi 20, 3rd Floor; tel. ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"Japan; Almaty, Samal 1, d. 36;tel. (3272)53-32...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Korea, Democratic People's Republic; Almaty, K...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Korea, Republic; Almaty, Jarkentskaya 2/77; te...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Kyrgyzstan; Almaty, Amangeldy 68A; tel. (3272)...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"Lebanon; Almaty, Sovkhoz 'Alatau', Naberezhnay...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"Libya; Almaty, 6-Kirpichnozavodskaya 58, Zhelt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Lithuania; Almaty, Iskanderova 15; tel. (3272)...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"Mongolia; Almaty, pr. Al-Farabi (ug. Saina); t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Netherlands; 480013 Almaty, pr. Abaya IOA; tel...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"Pakistan; 480004 Almaty, Tulebayeva 25; tel. (...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"Poland; Almaty, Ualikhanova 9; tel. and fax (3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"Romania; Almaty, Naurazboi Bataka, kV. 25; tel...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,"Russia; Almaty, Jandosova 4; tel. (3272) 44-64...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Tajikistan; Almaty, Jandosova 58; tel. and fax...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"Turkey; 480100 Almaty, Tole bi 29; tel. (3272)...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,"Ukraine; Almaty, Chaikovskogo 208; tel. (3272...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,"United Kingdom; 480110 Almaty, Furmanova 173; ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,"USA; 480012 Almaty, Furmanova 97-99; tel. (327...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,"Uzbekistan; 480100 Almaty, Baribayeva 36; tel....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Unamed1, 2 ,,,という列はいらないので消去します
#parse_cols = 0は一列目だけとるという意味です(二列目だけをとるならparse_cols = 1)
input_sheet_df3 = input_book3.parse(input_sheet_name3[0], 
                                  skiprow = 0,
                                  parse_cols = 0
                                  )
input_sheet_df3

                                           Kazakhstan
0   Afghanistan; Almaty, Shalyapina 56, Hotel Molo...
1   Armenia; 480075 Almaty, pr. Seifullina 579, 7t...
2   Australia; 480004 Almaty, Kazybek bi 20A; tel....
3   Bulgaria; Almaty, Makataeva 13A; tel. (3272) 3...
4   Canada; 480100 Almaty, Karasai Batyr 34; tel. ...
5   China, People's Republic; Almaty, Furmanova 13...
6   Croatia; Almaty, Furmanova 110; tel. (3272) 62...
7   Cuba; Almaty, Zenkova 70, kv. 23; tel. and fax...
8   Czech Republic; Almaty, pr. Zhibek zholy 64; t...
9   Egypt; 480100 Almaty, Zenkova 59; tel. (3272) ...
10  France; 480110 Almaty, Furmanova 173; tel. (32...
11  Georgia; Almaty, Poletayeva 53; tel. (3272) 31...
12  Germany; 480064 Almaty, Furmanova 173; tel. (3...
13  Holy See; 480091 Almaty, Kabanbav Batyr 77, kV...
14  Hungary; Almaty, Tulebayeva 162, kV. 29; tel. ...
15  India; Almaty, Internatsionalnaya 71; tel. (32...
16  Iran; Almaty, Kabanbai Batyr 119; tel. (3272) ...
17  Israel; Almaty, Zheltoksan 87; tel. (3272) 50-...
18  Italy; Almaty, Kazybek bi 20, 3rd Floor; tel. ...
19  Japan; Almaty, Samal 1, d. 36;tel. (3272)53-32...
20  Korea, Democratic People's Republic; Almaty, K...
21  Korea, Republic; Almaty, Jarkentskaya 2/77; te...
22  Kyrgyzstan; Almaty, Amangeldy 68A; tel. (3272)...
23  Lebanon; Almaty, Sovkhoz 'Alatau', Naberezhnay...
24  Libya; Almaty, 6-Kirpichnozavodskaya 58, Zhelt...
25  Lithuania; Almaty, Iskanderova 15; tel. (3272)...
26  Mongolia; Almaty, pr. Al-Farabi (ug. Saina); t...
27  Netherlands; 480013 Almaty, pr. Abaya IOA; tel...
28  Pakistan; 480004 Almaty, Tulebayeva 25; tel. (...
29  Poland; Almaty, Ualikhanova 9; tel. and fax (3...
30  Romania; Almaty, Naurazboi Bataka, kV. 25; tel...
31  Russia; Almaty, Jandosova 4; tel. (3272) 44-64...
32  Tajikistan; Almaty, Jandosova 58; tel. and fax...
33  Turkey; 480100 Almaty, Tole bi 29; tel. (3272)...
34   Ukraine; Almaty, Chaikovskogo 208; tel. (3272...
35  United Kingdom; 480110 Almaty, Furmanova 173; ...
36  USA; 480012 Almaty, Furmanova 97-99; tel. (327...
37  Uzbekistan; 480100 Almaty, Baribayeva 36; tel....

In [8]:
#このinput_sheet_df3をコピーしたものをdfとします
df = input_sheet_df3.copy()
#dfの中身を見てみます(コピーなのでinput_sheet_df3と同じ内容です)
df

                                           Kazakhstan
0   Afghanistan; Almaty, Shalyapina 56, Hotel Molo...
1   Armenia; 480075 Almaty, pr. Seifullina 579, 7t...
2   Australia; 480004 Almaty, Kazybek bi 20A; tel....
3   Bulgaria; Almaty, Makataeva 13A; tel. (3272) 3...
4   Canada; 480100 Almaty, Karasai Batyr 34; tel. ...
5   China, People's Republic; Almaty, Furmanova 13...
6   Croatia; Almaty, Furmanova 110; tel. (3272) 62...
7   Cuba; Almaty, Zenkova 70, kv. 23; tel. and fax...
8   Czech Republic; Almaty, pr. Zhibek zholy 64; t...
9   Egypt; 480100 Almaty, Zenkova 59; tel. (3272) ...
10  France; 480110 Almaty, Furmanova 173; tel. (32...
11  Georgia; Almaty, Poletayeva 53; tel. (3272) 31...
12  Germany; 480064 Almaty, Furmanova 173; tel. (3...
13  Holy See; 480091 Almaty, Kabanbav Batyr 77, kV...
14  Hungary; Almaty, Tulebayeva 162, kV. 29; tel. ...
15  India; Almaty, Internatsionalnaya 71; tel. (32...
16  Iran; Almaty, Kabanbai Batyr 119; tel. (3272) ...
17  Israel; Almaty, Zheltoksan 87; tel. (3272) 50-...
18  Italy; Almaty, Kazybek bi 20, 3rd Floor; tel. ...
19  Japan; Almaty, Samal 1, d. 36;tel. (3272)53-32...
20  Korea, Democratic People's Republic; Almaty, K...
21  Korea, Republic; Almaty, Jarkentskaya 2/77; te...
22  Kyrgyzstan; Almaty, Amangeldy 68A; tel. (3272)...
23  Lebanon; Almaty, Sovkhoz 'Alatau', Naberezhnay...
24  Libya; Almaty, 6-Kirpichnozavodskaya 58, Zhelt...
25  Lithuania; Almaty, Iskanderova 15; tel. (3272)...
26  Mongolia; Almaty, pr. Al-Farabi (ug. Saina); t...
27  Netherlands; 480013 Almaty, pr. Abaya IOA; tel...
28  Pakistan; 480004 Almaty, Tulebayeva 25; tel. (...
29  Poland; Almaty, Ualikhanova 9; tel. and fax (3...
30  Romania; Almaty, Naurazboi Bataka, kV. 25; tel...
31  Russia; Almaty, Jandosova 4; tel. (3272) 44-64...
32  Tajikistan; Almaty, Jandosova 58; tel. and fax...
33  Turkey; 480100 Almaty, Tole bi 29; tel. (3272)...
34   Ukraine; Almaty, Chaikovskogo 208; tel. (3272...
35  United Kingdom; 480110 Almaty, Furmanova 173; ...
36  USA; 480012 Almaty, Furmanova 97-99; tel. (327...
37  Uzbekistan; 480100 Almaty, Baribayeva 36; tel....

現在KAZAKSTANという列に国名、都市、電話番号…という要素がすべて入ってしまっているのでこれを；ごとに分割します

In [9]:
#Kazakhstanという列の中で;がでてきたら次の列に振り分けるという動作をします
df = df["Kazakhstan"].str.split(';', expand=True)
#ここの列名'Kazakhstan'の名前を入力せずにできないか悩んでいます
#できた7列を適当にCountryname, Cityname, Telephonenumber, Faxnumber, Senderpost, Others, Remarksとします
df.columns = ['Countryname', 'Cityname', 'Telephonenumber', 'Faxnumber', 'SenderPost', 'Other', 'Remarks']
#できたデータフレームの中身を見てみます
df

,Countryname,Cityname,Telephonenumber,Faxnumber,SenderPost,Other,Remarks
0,Afghanistan,"Almaty, Shalyapina 56, Hotel Molodezhnaya",tel. (3272) 28-68-71,Chargé d'affaires a.i.,NAJIBULLAH ZIA RAKHMAN.,None,None
1,Armenia,"480075 Almaty, pr. Seifullina 579, 7th Floor",tel. and fax (3272) 69-29-08,Chargé d’affaires a.i.,ARMAN MELIKIAN.,None,None
2,Australia,"480004 Almaty, Kazybek bi 20A",tel. (3272) 63-94-18,Ambassador,DOUGLAS TOWNSEND.,None,None
3,Bulgaria,"Almaty, Makataeva 13A",tel. (3272) 30-27-55,Chargé d'affaires a.i.,YORDAN TRENCHEV.,None,None
4,Canada,"480100 Almaty, Karasai Batyr 34",tel. (3272) 50-11-51,Ambassador,CHARLES RICHARD MANN.,None,None
5,"China, People's Republic","Almaty, Furmanova 137",tel. (3272) 63-49-66,fax (3272) 63-92-91,Ambassador,CHEN Dl.,None
6,Croatia,"Almaty, Furmanova 110",tel. (3272) 62-57-03,telex 251435,fax (3272) 50-62-92,Chargé d'affaires a.i.,KARINO HROMIN.
7,Cuba,"Almaty, Zenkova 70, kv. 23",tel. and fax (3272) 61-59-25,Chargé d'affaires a.i.,ROBERTO CRUZ GALINDO.,None,None
8,Czech Republic,"Almaty, pr. Zhibek zholy 64",tel. (3272) 33-47-13,fax (3272) 33-50-88,Chargé d'affaires a.i.,ALEXANDER LANGER.,None
9,Egypt,"480100 Almaty, Zenkova 59",tel. (3272) 60-16-22,fax (3272) 61-10-22,Ambassador,AYMAN HAMDI EL KOUNI.,None
10,France,"480110 Almaty, Furmanova 173",tel. (3272) 50-62-36,fax (3272) 50-61-59,Ambassador,ALAIN RICHARD.,None
11,Georgia,"Almaty, Poletayeva 53",tel. (3272) 31-09-09,Ambassador,TEMUR GOGOLADZE.,None,None
12,Germany,"480064 Almaty, Furmanova 173",tel. (3272) 50-61-55,telex 251409,fax (3272) 50-62-76,Ambassador,HENNING VON TINGHAUSEN.
13,Holy See,"480091 Almaty, Kabanbav Batyr 77, kV. 20",tel. (3272) 63-62-40,Apostolic Nuncio,"Most Rev. MARIAN OLES, Titular Archbishop of ...",None,None
14,Hungary,"Almaty, Tulebayeva 162, kV. 29",tel. (3272) 63-64-37,fax (3272) 50-70-99,Ambassador,JOZSEF TORMA.,None
15,India,"Almaty, Internatsionalnaya 71",tel. (3272) 67-14-11,fax (3272) 67-67-67,Ambassador,RAJIV SIKRI.,None
16,Iran,"Almaty, Kabanbai Batyr 119",tel. (3272) 67-78-46,fax (3272) 54-27-54,Ambassador,RASUL ESLAMI.,None
17,Israel,"Almaty, Zheltoksan 87",tel. (3272) 50-72-15,fax (3272) 50-62-83,Ambassador,ISRAEL MEY-AMI.,None
18,Italy,"Almaty, Kazybek bi 20, 3rd Floor",tel. (3272) 63-98-14.,fax (3292)63-96-36,Ambassador,GIORGIO MALFATI DI MONTETRETTO.,None
19,Japan,"Almaty, Samal 1, d. 36",tel. (3272)53-32-04,fax(3272)53-31-94,Ambassador,AKIRA MATSUI.,None
20,"Korea, Democratic People's Republic","Almaty, Kok-Tyube, Gorodskaya 12",tel. (3272) 61-89-98,fax (3272) 25-27-66,Ambassador,NAM LI GIL.,None
21,"Korea, Republic","Almaty, Jarkentskaya 2/77",tel. (3272) 53-26-60,fax (3272) 50-70-59,Ambassador,KIM CHANG-KEON.,None
22,Kyrgyzstan,"Almaty, Amangeldy 68A",tel. (3272) 63-33-09,fax (3272) 63-33-62,Ambassador,AKBAR RYSKULOV.,None
23,Lebanon,"Almaty, Sovkhoz 'Alatau', Naberezhnaya 20",tel. 48-71-51,Ambassador,ASSIF NASSER.,None,None
24,Libya,"Almaty, 6-Kirpichnozavodskaya 58, Zheltoksan ...",tel. (3272) 64-36-61,fax (3272) 65-62-62,Chargé d'affaires a.i.,OMAR ALI GEIT.,None
25,Lithuania,"Almaty, Iskanderova 15",tel. (3272) 53-41-03,fax (3272) 65-14-60,Ambassador,JUOZAS ASEMBERGAS.,None
26,Mongolia,"Almaty, pr. Al-Farabi (ug. Saina)",tel. (3272) 20-08-65,fax (3272) 60-17-23,Ambassador,SHARAVIYN GUNGAADORJ.,None
27,Netherlands,"480013 Almaty, pr. Abaya IOA",tel. (3272) 63-86-54,fax (3272) 63-19-57,Ambassador,A. VAN DER TOGT.,None
28,Pakistan,"480004 Almaty, Tulebayeva 25",tel. (3272) 33-35-48,fax(3272) 33-13-00,Ambassador,SULTAN KHAYAT KHAN.,None
29,Poland,"Almaty, Ualikhanova 9",tel. and fax (3272) 33-74-S6,Ambassador,MAREK GAWESKI.,None,None
30,Romania,"Almaty, Naurazboi Bataka, kV. 25",tel. (3272) 63-86-79,fax (3272) 63-12-07,Ambassador,MIHAIL ENESCU.,None
31,Russia,"Almaty, Jandosova 4",tel. (3272) 44-64-91,fax (3272) 44- 83-23,Ambassador,VYACHESLAV Ⅰ. DOLGOV.,None
32,Tajikistan,"Almaty, Jandosova 58",tel. and fax (3272) 44-20-89,Ambassador,SAID SHARIPOV.,None,None
33,Turkey,"480100 Almaty, Tole bi 29",tel. (3272) 61-81-53,telex 251226,fax (3272) 50-62-08,Ambassador,KURTULUS TASKENT.
34,Ukraine,"Almaty, Chaikovskogo 208",tel. (3272) 62-70-73,fax (3272) 62-89-25,Ambassador,VIKTOR V. BOGATYR.,None
35,United Kingdom,"480110 Almaty, Furmanova 173",tel. (3272) 50-61-91,telex 613398,fax (3272) 50-62-60,Ambassador,D.B MCADAM.
36,USA,"480012 Almaty, Furmanova 97-99",tel. (3272) 50-96-21,fa} (3272) 63-38-83,Ambassador,A. ELIZABETH JONES.,None
37,Uzbekistan,"480100 Almaty, Baribayeva 36",tel. (3272) 61-02-35 fax (3272) 61-10-55,Ambassador,NASYRJAN. YAKUBOV.,None,None

In [10]:
#このdfをコピーしたものをdf2とします(コピーなのでdfと同じ内容です)
df2 = df.copy()
#df2の要素の中でtel,fax,telex,(3272)、数字が入っている要素を削除します
ret = df2.apply(lambda d: d.str.contains('tel|fax|(3272)|telex|\d', na=False, regex=True))
df2 = df2.mask(ret)
#Citynameの項目を消します
df2 = df2.drop("Cityname", axis=1)
#一列まるまるNaNと入っている物も消します
df2 = df2.dropna(axis = 1, how = 'all')
#df2の中身を見てみます
df2

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

,Countryname,Faxnumber,SenderPost,Other,Remarks
0,Afghanistan,Chargé d'affaires a.i.,NAJIBULLAH ZIA RAKHMAN.,None,None
1,Armenia,Chargé d’affaires a.i.,ARMAN MELIKIAN.,None,None
2,Australia,Ambassador,DOUGLAS TOWNSEND.,None,None
3,Bulgaria,Chargé d'affaires a.i.,YORDAN TRENCHEV.,None,None
4,Canada,Ambassador,CHARLES RICHARD MANN.,None,None
5,"China, People's Republic",NaN,Ambassador,CHEN Dl.,None
6,Croatia,NaN,NaN,Chargé d'affaires a.i.,KARINO HROMIN.
7,Cuba,Chargé d'affaires a.i.,ROBERTO CRUZ GALINDO.,None,None
8,Czech Republic,NaN,Chargé d'affaires a.i.,ALEXANDER LANGER.,None
9,Egypt,NaN,Ambassador,AYMAN HAMDI EL KOUNI.,None
10,France,NaN,Ambassador,ALAIN RICHARD.,None
11,Georgia,Ambassador,TEMUR GOGOLADZE.,None,None
12,Germany,NaN,NaN,Ambassador,HENNING VON TINGHAUSEN.
13,Holy See,Apostolic Nuncio,"Most Rev. MARIAN OLES, Titular Archbishop of ...",None,None
14,Hungary,NaN,Ambassador,JOZSEF TORMA.,None
15,India,NaN,Ambassador,RAJIV SIKRI.,None
16,Iran,NaN,Ambassador,RASUL ESLAMI.,None
17,Israel,NaN,Ambassador,ISRAEL MEY-AMI.,None
18,Italy,NaN,Ambassador,GIORGIO MALFATI DI MONTETRETTO.,None
19,Japan,NaN,Ambassador,AKIRA MATSUI.,None
20,"Korea, Democratic People's Republic",NaN,Ambassador,NAM LI GIL.,None
21,"Korea, Republic",NaN,Ambassador,KIM CHANG-KEON.,None
22,Kyrgyzstan,NaN,Ambassador,AKBAR RYSKULOV.,None
23,Lebanon,Ambassador,ASSIF NASSER.,None,None
24,Libya,NaN,Chargé d'affaires a.i.,OMAR ALI GEIT.,None
25,Lithuania,NaN,Ambassador,JUOZAS ASEMBERGAS.,None
26,Mongolia,NaN,Ambassador,SHARAVIYN GUNGAADORJ.,None
27,Netherlands,NaN,Ambassador,A. VAN DER TOGT.,None
28,Pakistan,NaN,Ambassador,SULTAN KHAYAT KHAN.,None
29,Poland,Ambassador,MAREK GAWESKI.,None,None
30,Romania,NaN,Ambassador,MIHAIL ENESCU.,None
31,Russia,NaN,Ambassador,VYACHESLAV Ⅰ. DOLGOV.,None
32,Tajikistan,Ambassador,SAID SHARIPOV.,None,None
33,Turkey,NaN,NaN,Ambassador,KURTULUS TASKENT.
34,Ukraine,NaN,Ambassador,VIKTOR V. BOGATYR.,None
35,United Kingdom,NaN,NaN,Ambassador,D.B MCADAM.
36,USA,NaN,Ambassador,A. ELIZABETH JONES.,None
37,Uzbekistan,Ambassador,NASYRJAN. YAKUBOV.,None,None

次に、このデータフレームのCountrynameにある国名だけを抽出しSeriesにしていきます

In [11]:
#まずdf2のCountrnameという列にある国名をCountrylistというきれいなリストにします
Countrylist = df2["Countryname"].values.tolist()
#この複製をとり、Series形式に直します
Countrylist2 = Countrylist.copy()
Country = pd.Series(Countrylist2)
#Countryの中身を見てみます
Country

0                             Afghanistan
1                                 Armenia
2                               Australia
3                                Bulgaria
4                                  Canada
5                China, People's Republic
6                                 Croatia
7                                    Cuba
8                          Czech Republic
9                                   Egypt
10                                 France
11                                Georgia
12                                Germany
13                               Holy See
14                                Hungary
15                                  India
16                                   Iran
17                                 Israel
18                                  Italy
19                                  Japan
20    Korea, Democratic People's Republic
21                        Korea, Republic
22                             Kyrgyzstan
23                                Lebanon
24                                  Libya
25                              Lithuania
26                               Mongolia
27                            Netherlands
28                               Pakistan
29                                 Poland
30                                Romania
31                                 Russia
32                             Tajikistan
33                                 Turkey
34                                Ukraine
35                         United Kingdom
36                                    USA
37                             Uzbekistan
dtype: object

ここで、国名と国番号をまとめたデータフレームをdf3とします

In [12]:
#CountryCodeとCountryを比べdf3に格納します
df3 = CountryCode[CountryCode.index.isin(Country)]
#整理し、列名をSenderCountry, SenderCodeとします
df3 = df3.reset_index().rename(columns={'index':'SenderCountry'})
df3.columns = ['SenderCountry', 'SenderCode']
#df3の中身を見てみます
df3

     SenderCountry  SenderCode
0      Afghanistan       700.0
1          Armenia       371.0
2        Australia       900.0
3         Bulgaria       355.0
4           Canada        20.0
5          Croatia       344.0
6             Cuba        40.0
7   Czech Republic       316.0
8            Egypt       651.0
9           France       220.0
10         Georgia       372.0
11         Germany       255.0
12        Holy See       327.0
13         Hungary       310.0
14           India       750.0
15            Iran       630.0
16          Israel       666.0
17           Italy       325.0
18           Japan       740.0
19      Kyrgyzstan       703.0
20         Lebanon       660.0
21           Libya       620.0
22       Lithuania       368.0
23        Mongolia       712.0
24     Netherlands       210.0
25        Pakistan       770.0
26          Poland       290.0
27         Romania       360.0
28          Russia       365.0
29      Tajikistan       702.0
30          Turkey       640.0
31  United Kingdom       200.0
32      Uzbekistan       704.0

ここで、df2でCountrynameに入っていたのに、df3のSenderCountryにおいてはじかれてしまった国を探します

In [13]:
#比較をわかりやすくするため、df2のCountrnameだけをとったデータフレームdf4を作ります
df4 = pd.DataFrame(df2["Countryname"])
#df4のCountrynameとdf3のSenderCountryとを比べ、異なるもののみ残します
df5 = df4[~df4["Countryname"].isin(df3['SenderCountry'])]
df5

                            Countryname
5              China, People's Republic
20  Korea, Democratic People's Republic
21                      Korea, Republic
34                              Ukraine
36                                  USA

調べてみると、Ukraine以外はccode-kurizaki.xlsxに少し異なる国名で登録されていたことがわかりました

Ukraineは、スキャンした時に(スペース)Ukraineとして認識されていました

そこで、ccode-kurizaki.xlsxにおいてChina, People's Republic、Korea, Democratic People's Republic、Korea, Republic、USAも新たな国名として追加し(ccode-kurizaki-REVISED.xlsx)、CCODE_PYTHON.xlsxではUkraineの前に入っているスペースをなくします(CCODE_PYTHON-REVISED.xlsx)

これを新たに特定のLibrariesにアップロードします

In [14]:
#特定のLibrariesにアップロード後、修正したエクセルファイル二つをまた開いて整理しSeries形式にします
#まずはccode-kurizaki-REVISED.xlsxのデータに関して、全ての変数に_newを付け加えて作り直します
input_file_name_new = 'ccode-kurizaki-REVISED.xlsx'
input_book_new = pd.ExcelFile(input_file_name_new) 
input_sheet_name_new = input_book_new.sheet_names
input_sheet_df_new = input_book_new.parse(input_sheet_name_new[0], 
                                  parse_cols 
                                  = "B:C",
                                  )
input_sheet_df_new = input_sheet_df_new[['StateName','CCode']]
CountryCode_dic_new = dict([(i,a) for i, a in zip(input_sheet_df_new.StateName, input_sheet_df_new.CCode)])
CountryCode_new = pd.Series(CountryCode_dic_new)

In [15]:
#次にCCODE-PYTHON-REVISED.xlsxのデータに関して、全ての変数に_newに付け加えて作り直します
input_file_name3_new = 'CCODE_PYTHON-REVISED.xlsx'
input_book3_new = pd.ExcelFile(input_file_name3_new) 
input_sheet_name3_new = input_book3_new.sheet_names
num_sheet_new = len(input_sheet_name3_new)
print ("Sheet の数:", num_sheet_new)
print (input_sheet_name3_new)
input_sheet_df3_new = input_book3_new.parse(input_sheet_name3_new[0])
print("Sheet name:", input_sheet_name3_new[0])
input_sheet_df3_new = input_book3_new.parse(input_sheet_name3_new[0], 
                                  skiprow = 0,
                                  parse_cols = 0
                                  )
df_new = input_sheet_df3_new.copy()
df_new = df_new["Kazakhstan"].str.split(';', expand=True)
df_new.columns = ['Countryname', 'Cityname', 'Telephonenumber', 'Others1', 'Others2', 'Others3', 'Others4']
df2_new = df_new.copy()
ret_new = df2_new.apply(lambda d: d.str.contains('tel|fax|(3272)|telex|\d', na=False, regex=True))
df2_new = df2_new.mask(ret_new)
#Citynameの列は使わないので消します
df2_new = df2_new.drop("Cityname", axis = 1)
#全ての行にNaNが入っているものは消します
df2_new = df2_new.dropna(axis = 1, how = 'all')
# NaNやNomeが入っているところは0を入れ、後々の処理でErrorが出ないよう処理しておきます
df2_new = df2_new.fillna(0)
#df_newの中身を見てみます
df2_new

Sheet の数: 1
['Kazakhstan']
Sheet name: Kazakhstan

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:18: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

,Countryname,Others1,Others2,Others3,Others4
0,Afghanistan,Chargé d'affaires a.i.,NAJIBULLAH ZIA RAKHMAN.,0,0
1,Armenia,Chargé d’affaires a.i.,ARMAN MELIKIAN.,0,0
2,Australia,Ambassador,DOUGLAS TOWNSEND.,0,0
3,Bulgaria,Chargé d'affaires a.i.,YORDAN TRENCHEV.,0,0
4,Canada,Ambassador,CHARLES RICHARD MANN.,0,0
5,"China, People's Republic",0,Ambassador,CHEN Dl.,0
6,Croatia,0,0,Chargé d'affaires a.i.,KARINO HROMIN.
7,Cuba,Chargé d'affaires a.i.,ROBERTO CRUZ GALINDO.,0,0
8,Czech Republic,0,Chargé d'affaires a.i.,ALEXANDER LANGER.,0
9,Egypt,0,Ambassador,AYMAN HAMDI EL KOUNI.,0
10,France,0,Ambassador,ALAIN RICHARD.,0
11,Georgia,Ambassador,TEMUR GOGOLADZE.,0,0
12,Germany,0,0,Ambassador,HENNING VON TINGHAUSEN.
13,Holy See,Apostolic Nuncio,"Most Rev. MARIAN OLES, Titular Archbishop of ...",0,0
14,Hungary,0,Ambassador,JOZSEF TORMA.,0
15,India,0,Ambassador,RAJIV SIKRI.,0
16,Iran,0,Ambassador,RASUL ESLAMI.,0
17,Israel,0,Ambassador,ISRAEL MEY-AMI.,0
18,Italy,0,Ambassador,GIORGIO MALFATI DI MONTETRETTO.,0
19,Japan,0,Ambassador,AKIRA MATSUI.,0
20,"Korea, Democratic People's Republic",0,Ambassador,NAM LI GIL.,0
21,"Korea, Republic",0,Ambassador,KIM CHANG-KEON.,0
22,Kyrgyzstan,0,Ambassador,AKBAR RYSKULOV.,0
23,Lebanon,Ambassador,ASSIF NASSER.,0,0
24,Libya,0,Chargé d'affaires a.i.,OMAR ALI GEIT.,0
25,Lithuania,0,Ambassador,JUOZAS ASEMBERGAS.,0
26,Mongolia,0,Ambassador,SHARAVIYN GUNGAADORJ.,0
27,Netherlands,0,Ambassador,A. VAN DER TOGT.,0
28,Pakistan,0,Ambassador,SULTAN KHAYAT KHAN.,0
29,Poland,Ambassador,MAREK GAWESKI.,0,0
30,Romania,0,Ambassador,MIHAIL ENESCU.,0
31,Russia,0,Ambassador,VYACHESLAV Ⅰ. DOLGOV.,0
32,Tajikistan,Ambassador,SAID SHARIPOV.,0,0
33,Turkey,0,0,Ambassador,KURTULUS TASKENT.
34,Ukraine,0,Ambassador,VIKTOR V. BOGATYR.,0
35,United Kingdom,0,0,Ambassador,D.B MCADAM.
36,USA,0,Ambassador,A. ELIZABETH JONES.,0
37,Uzbekistan,Ambassador,NASYRJAN. YAKUBOV.,0,0

In [16]:
Countrylist_new = df2_new["Countryname"].values.tolist()
Country_new = pd.Series(Countrylist_new)
#CountryCodeとCountryを比べdf3に格納します
df3_new = CountryCode_new[CountryCode_new.index.isin(Country_new)]
#整理し、列名をSenderCountry, SenderCodeとします
df3_new = df3_new.reset_index().rename(columns={'index':'SenderCountry'})
df3_new.columns = ['SenderCountry', 'SenderCode']
df3_new

                          SenderCountry  SenderCode
0                           Afghanistan       700.0
1                               Armenia       371.0
2                             Australia       900.0
3                              Bulgaria       355.0
4                                Canada        20.0
5              China, People's Republic       710.0
6                               Croatia       344.0
7                                  Cuba        40.0
8                        Czech Republic       316.0
9                                 Egypt       651.0
10                               France       220.0
11                              Georgia       372.0
12                              Germany       255.0
13                             Holy See       327.0
14                              Hungary       310.0
15                                India       750.0
16                                 Iran       630.0
17                               Israel       666.0
18                                Italy       325.0
19                                Japan       740.0
20  Korea, Democratic People's Republic       731.0
21                      Korea, Republic       732.0
22                           Kyrgyzstan       703.0
23                              Lebanon       660.0
24                                Libya       620.0
25                            Lithuania       368.0
26                             Mongolia       712.0
27                          Netherlands       210.0
28                             Pakistan       770.0
29                               Poland       290.0
30                              Romania       360.0
31                               Russia       365.0
32                           Tajikistan       702.0
33                               Turkey       640.0
34                                  USA         2.0
35                              Ukraine       369.0
36                       United Kingdom       200.0
37                           Uzbekistan       704.0

読み取った全ての国に国番号が示されました

続いて、国番号と同じようにSenderRankのデータフレームも作ります

In [17]:
# df4 より Rank名->数値の変換用のSeriesデータを作成
conv = input_sheet_df2.set_index('Rank').Code
# 行毎にループ
for idx, row in df2_new.iterrows():
    # Others1以降の列を変換データにて変換
    tmp = row['Others1':].map(conv)
    # 上の処理で変換できなかったデータは削除
    tmp = tmp.dropna()
    if tmp.size > 0:
        df2_new.loc[idx, 'SenderRank'] = tmp[0]

In [18]:
# 不要なOthersの列を削除します
df2_new.drop(['Others1','Others2','Others3','Others4'], axis=1)

                            Countryname  SenderRank
0                           Afghanistan         3.0
1                               Armenia         3.0
2                             Australia         1.0
3                              Bulgaria         3.0
4                                Canada         1.0
5              China, People's Republic         1.0
6                               Croatia         3.0
7                                  Cuba         3.0
8                        Czech Republic         3.0
9                                 Egypt         1.0
10                               France         1.0
11                              Georgia         1.0
12                              Germany         1.0
13                             Holy See         1.0
14                              Hungary         1.0
15                                India         1.0
16                                 Iran         1.0
17                               Israel         1.0
18                                Italy         1.0
19                                Japan         1.0
20  Korea, Democratic People's Republic         1.0
21                      Korea, Republic         1.0
22                           Kyrgyzstan         1.0
23                              Lebanon         1.0
24                                Libya         3.0
25                            Lithuania         1.0
26                             Mongolia         1.0
27                          Netherlands         1.0
28                             Pakistan         1.0
29                               Poland         1.0
30                              Romania         1.0
31                               Russia         1.0
32                           Tajikistan         1.0
33                               Turkey         1.0
34                              Ukraine         1.0
35                       United Kingdom         1.0
36                                  USA         1.0
37                           Uzbekistan         1.0

これも、最初NaNと表示されてしまう国がいくつかありました。調べてみると、.がスキャンした時に読み取れていなかったり

Rank名の前に空白が入っているなどのエラーでした

ですので、.が入っていないランク名もSenderRank.xlsxに追加し、空白を削除して実行をやり直しました

それでは、先程のdf3_newに他の列を付け加えて最終的にdf5としてまとめます

In [19]:
#df_newですでに分かれていた都市名Citynameの列ををくっつけます
df5 = pd.concat([df3_new, df_new['Cityname']], axis=1)
#ReceiverCountryには、国名を記入しますが、Excelのシート名でもあるので以前定義したように記します
df5['ReceiverCountry']= input_sheet_name3_new[0]
#ReceiverCodeには、ReceiverCountryの国番号を自動的に出すようにします
df5['ReceiverCode'] = CountryCode_dic_new[input_sheet_name3_new[0]]
#私が今回用いたEuropa Year Bookの年・巻番号を記しました
df5['Volume_Year'] = "1997Ⅱ"
df5 = pd.concat([df5, df2_new['SenderRank']], axis = 1)
df5

,SenderCountry,SenderCode,Cityname,ReceiverCountry,ReceiverCode,Volume_Year,SenderRank
0,Afghanistan,700.0,"Almaty, Shalyapina 56, Hotel Molodezhnaya",Kazakhstan,705.0,1997Ⅱ,3.0
1,Armenia,371.0,"480075 Almaty, pr. Seifullina 579, 7th Floor",Kazakhstan,705.0,1997Ⅱ,3.0
2,Australia,900.0,"480004 Almaty, Kazybek bi 20A",Kazakhstan,705.0,1997Ⅱ,1.0
3,Bulgaria,355.0,"Almaty, Makataeva 13A",Kazakhstan,705.0,1997Ⅱ,3.0
4,Canada,20.0,"480100 Almaty, Karasai Batyr 34",Kazakhstan,705.0,1997Ⅱ,1.0
5,"China, People's Republic",710.0,"Almaty, Furmanova 137",Kazakhstan,705.0,1997Ⅱ,1.0
6,Croatia,344.0,"Almaty, Furmanova 110",Kazakhstan,705.0,1997Ⅱ,3.0
7,Cuba,40.0,"Almaty, Zenkova 70, kv. 23",Kazakhstan,705.0,1997Ⅱ,3.0
8,Czech Republic,316.0,"Almaty, pr. Zhibek zholy 64",Kazakhstan,705.0,1997Ⅱ,3.0
9,Egypt,651.0,"480100 Almaty, Zenkova 59",Kazakhstan,705.0,1997Ⅱ,1.0
10,France,220.0,"480110 Almaty, Furmanova 173",Kazakhstan,705.0,1997Ⅱ,1.0
11,Georgia,372.0,"Almaty, Poletayeva 53",Kazakhstan,705.0,1997Ⅱ,1.0
12,Germany,255.0,"480064 Almaty, Furmanova 173",Kazakhstan,705.0,1997Ⅱ,1.0
13,Holy See,327.0,"480091 Almaty, Kabanbav Batyr 77, kV. 20",Kazakhstan,705.0,1997Ⅱ,1.0
14,Hungary,310.0,"Almaty, Tulebayeva 162, kV. 29",Kazakhstan,705.0,1997Ⅱ,1.0
15,India,750.0,"Almaty, Internatsionalnaya 71",Kazakhstan,705.0,1997Ⅱ,1.0
16,Iran,630.0,"Almaty, Kabanbai Batyr 119",Kazakhstan,705.0,1997Ⅱ,1.0
17,Israel,666.0,"Almaty, Zheltoksan 87",Kazakhstan,705.0,1997Ⅱ,1.0
18,Italy,325.0,"Almaty, Kazybek bi 20, 3rd Floor",Kazakhstan,705.0,1997Ⅱ,1.0
19,Japan,740.0,"Almaty, Samal 1, d. 36",Kazakhstan,705.0,1997Ⅱ,1.0
20,"Korea, Democratic People's Republic",731.0,"Almaty, Kok-Tyube, Gorodskaya 12",Kazakhstan,705.0,1997Ⅱ,1.0
21,"Korea, Republic",732.0,"Almaty, Jarkentskaya 2/77",Kazakhstan,705.0,1997Ⅱ,1.0
22,Kyrgyzstan,703.0,"Almaty, Amangeldy 68A",Kazakhstan,705.0,1997Ⅱ,1.0
23,Lebanon,660.0,"Almaty, Sovkhoz 'Alatau', Naberezhnaya 20",Kazakhstan,705.0,1997Ⅱ,1.0
24,Libya,620.0,"Almaty, 6-Kirpichnozavodskaya 58, Zheltoksan ...",Kazakhstan,705.0,1997Ⅱ,3.0
25,Lithuania,368.0,"Almaty, Iskanderova 15",Kazakhstan,705.0,1997Ⅱ,1.0
26,Mongolia,712.0,"Almaty, pr. Al-Farabi (ug. Saina)",Kazakhstan,705.0,1997Ⅱ,1.0
27,Netherlands,210.0,"480013 Almaty, pr. Abaya IOA",Kazakhstan,705.0,1997Ⅱ,1.0
28,Pakistan,770.0,"480004 Almaty, Tulebayeva 25",Kazakhstan,705.0,1997Ⅱ,1.0
29,Poland,290.0,"Almaty, Ualikhanova 9",Kazakhstan,705.0,1997Ⅱ,1.0
30,Romania,360.0,"Almaty, Naurazboi Bataka, kV. 25",Kazakhstan,705.0,1997Ⅱ,1.0
31,Russia,365.0,"Almaty, Jandosova 4",Kazakhstan,705.0,1997Ⅱ,1.0
32,Tajikistan,702.0,"Almaty, Jandosova 58",Kazakhstan,705.0,1997Ⅱ,1.0
33,Turkey,640.0,"480100 Almaty, Tole bi 29",Kazakhstan,705.0,1997Ⅱ,1.0
34,USA,2.0,"Almaty, Chaikovskogo 208",Kazakhstan,705.0,1997Ⅱ,1.0
35,Ukraine,369.0,"480110 Almaty, Furmanova 173",Kazakhstan,705.0,1997Ⅱ,1.0
36,United Kingdom,200.0,"480012 Almaty, Furmanova 97-99",Kazakhstan,705.0,1997Ⅱ,1.0
37,Uzbekistan,704.0,"480100 Almaty, Baribayeva 36",Kazakhstan,705.0,1997Ⅱ,1.0

最後に、作成したデータフレームdf5をCSVに保存します

In [20]:
#pandas形式の場合.to_csvというメソッドでCSV化できます
#Excelで開きたい場合、encoding="SHIFT-JIS"という引数を追加してSHIFT-JISでエンコーディングするのが最適です
df5.to_csv("CCode.csv", index=False, encoding="'Shift_JISx0213'")

Libraryの中に入っていればcsvとして保存できています(Libraryのページを開きなおしてください)

国名と国番号、外交官ランクのコーディングは以上です

以下にこれから取り組もうと思っていることを記します

-----------------------------------------------------------------------------------------------------------------

ここまで見てきた一つ目のシートへの処理を全てのシートに対して行い、さらに各シートのデータフレームを一つのデータフレームに結合します。 全てのシートに対してforでループを回せばよいので、以下のようにすればできます。
#データフレームの取扱、Excelファイルのデータフレームへの読み込み用
import pandas as pd
#正規表現
import re
#input file name
input_file = 'CCODE-PYTHON-REVISED.xls'
#xlsx book Open
input_book = pd.ExcelFile(input_file) 
#xlsファイルのシートの名前をリストとして取得
input_sheet_name = input_book.sheet_names
#シートの総数
num_sheet = len(input_sheet_name)
output_df = pd.DataFrame(index=[], columns=[])
for i_sheet in range(0, num_sheet) :
    #シートを格納しているリストから読み込み
    input_sheet_df = input_book.parse(input_sheet_name[i_sheet],
                                      skiprows = 0,
                                      parse_cols = O
                                      )
#ccode-kurizaki-REVISED.xlsxなどはどの国にも共通なので通常通りに開く    
    
    for i_m in range(1, len(input_sheet_df.columns)) : 
    #データフレームの列について 1列目からループを回す     
        
        ...あとは一緒
   
処理して全てのシートについて結合したデータフレームを表示します。 

-----------------------------------------------------------------------------------------------------------------

SA,VAなどのところは太田さんと相談して進めようかと思っています

# 改善の余地があるところ

冒頭の⑤の作業だけでなく、そのときに空白を削除しなくてもよい方法を考え中です

データフレームから辞書に直すときに、国名をわざわざ入力しなくてもよい方法も模索しています

そのほかの点でもまだ気づいていないところがあるかと思いますので、ぜひアドバイスをお願いします！